DB_NAME="DATABASE_NAME"
DB_USERNAME="YOUR_USER_NAME"
DB_PASSWORD="YOUR_PASSWORD"
PORT=3000
#You can use these credentail as these are for testing only
DB_NAME="Cards"
DB_USERNAME="kumar"
DB_PASSWORD="Black-6594"
PORT=3000